<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed">
                <span class="sr-only">{{ 'TOGGLE_NAVIGATION' | translate }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app.authenticated.dashboard">
                <strong>{{ 'APP_NAME' | translate }}</strong>
            </a>
        </div>

        <div class="collapse navbar-collapse" uib-collapse="$ctrl.isNavCollapsed">

            <ul class="nav navbar-nav">
                <li>
                    <a role="button" ui-sref="app.authenticated.dashboard">
                        <i class="fa fa-home"></i> {{ 'DASHBOARD' | translate }}
                    </a>
                </li>
                <li>
                    <a role="button" ui-sref="app.authenticated.gas-readings.list">
                        <i class="fa fa-fire"></i> {{ 'GAS_READINGS' | translate }}
                    </a>
                </li>
                <li>
                    <a role="button" ui-sref="app.authenticated.gas-invoices.list">
                        <i class="fa fa-file"></i> {{ 'GAS_INVOICES' | translate }}
                    </a>
                </li>
                <li>
                    <a role="button" ui-sref="app.authenticated.electricity-readings.list">
                        <i class="fa fa-lightbulb-o"></i> {{ 'ELECTRICITY_READINGS' | translate }}
                    </a>
                </li>

                <li class="dropdown" uib-dropdown is-open="$ctrl.waterReadingsNav.isopen">

                    <a role="button" class="dropdown-toggle" role="button" uib-dropdown-toggle>
                        <i class="fa fa-tint"></i> {{ 'WATER' | translate }} <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li>
                            <a role="button" ui-sref="app.authenticated.water-readings.list">
                                <i class="fa fa-list"></i> {{ 'LIST' | translate }}
                            </a>
                        </li>
                        <li>
                            <a role="button" ui-sref="app.authenticated.water-readings.create">
                                <i class="fa fa-plus-square"></i> {{ 'NEW_READING' | translate }}
                            </a>
                        </li>
                        <li>
                            <a role="button" ui-sref="app.authenticated.water-readings.restore">
                                <i class="fa fa-cloud-upload"></i> {{ 'IMPORT' | translate }}
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" uib-dropdown is-open="$ctrl.userNav.isopen">

                    <a role="button" class="dropdown-toggle" role="button" uib-dropdown-toggle>
                        {{ $ctrl._Auth.current.email }} <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li>
                            <a role="button" confirm="CONFIRM_LOGOUT" ng-click="$ctrl.logout()">
                                <i class="fa fa-sign-out"></i> {{ 'SIGN_OUT' | translate }}
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>

    </div>
</nav>