<div class="panel panel-danger">

    <div class="panel-heading">
        <strong>{{ 'GAS_READINGS' | translate }} - {{ 'IMPORT' | translate }}</strong>&nbsp;
    </div>

    <div class="gas-reading-restore-form">

        <div ng-form="gasReadingRestoreForm" class="form">

            <div class="form-group" ng-class="{ 'has-error': gasReadingRestoreForm.file.$invalid }">

                <input type="file" ngf-select ng-model="$ctrl.dumpFile" name="file"
                       accept=".csv" ngf-max-size="2MB" required
                       ngf-model-invalid="errorFile">

            </div>

            <button class="btn btn-danger" ng-click="$ctrl.restore($ctrl.dumpFile)"
                    ng-disabled="gasReadingRestoreForm.$invalid"
                    confirm="{{ 'CONFIRM_DATA_IMPORT' | translate }}">
                {{ 'IMPORT' | translate }}
            </button>

        </div>

    </div>

    <div class="panel-footer">
        <a role="button" ui-sref="app.authenticated.gas-readings.list" class="footer-menu-item">
            <i class="fa fa-list"></i> {{ 'LIST' | translate }}
        </a>
        <a role="button" ui-sref="app.authenticated.dashboard" class="footer-menu-item">
            <i class="fa fa-home"></i> {{ 'DASHBOARD' | translate }}
        </a>
    </div>

</div>