<div class="panel panel-primary">

    <div class="panel-heading">
        <strong>{{ 'GAS_INVOICES' | translate }}</strong>&nbsp;
        <div class="pull-right">
            <button class="btn btn-xs btn-default" ng-click="$ctrl.dump()">
                <i class="fa fa-cloud-download"></i> {{ 'EXPORT' | translate }}
            </button>
            <button class="btn btn-xs btn-default" ui-sref="app.authenticated.gas-invoices.create">
                <i class="fa fa-plus-square"></i> {{ 'NEW_INVOICE' | translate }}
            </button>
        </div>
    </div>

    <div class="table-responsive">

        <table st-table="$ctrl.table.gasInvoices" st-safe-src="$ctrl.gasInvoices"
               class="table table-striped" ng-if="$ctrl.gasInvoices">
            <thead>
            <tr>
                <th st-sort="date" st-sort-default="reverse" st-skip-natural="true">{{ 'DATE' | translate }}</th>
                <th st-sort="state" st-skip-natural="true">{{ 'STATE' | translate }}</th>
                <th st-sort="usage" st-skip-natural="true">{{ 'USAGE' | translate }}</th>
                <th st-sort="charge" st-skip-natural="true">{{ 'CHARGE' | translate }}</th>
                <th st-sort="price" st-skip-natural="true" ng-bind-html="'GAS_PRICE' | translate"></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <input st-search="date" placeholder="{{ 'DATE' | translate }}"
                           class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="state" placeholder="{{ 'STATE' | translate }}"
                           class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="usage" placeholder="{{ 'USAGE' | translate }}"
                           class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="charge" placeholder="{{ 'CHARGE' | translate }}"
                           class="input-sm form-control" type="search"/>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="gasInvoice in $ctrl.table.gasInvoices | itemsPerPage: 10">
                <td>{{ gasInvoice.date }}</td>
                <td>{{ gasInvoice.state }}</td>
                <td>{{ gasInvoice.usage }}</td>
                <td>{{ gasInvoice.charge | currency }}</td>
                <td>{{ gasInvoice.price | currency }}</td>
                <td>
                    <button class="btn btn-xs btn-primary"
                            ui-sref="app.authenticated.gas-invoices.edit({id: gasInvoice.id})">
                        <i class="fa fa-pencil"></i> {{ 'EDIT' | translate }}
                    </button>
                </td>
                <td>
                    <button class="btn btn-xs btn-danger " ng-click="$ctrl.destroy(gasInvoice.id)"
                            confirm="{{ 'CONFIRM_INVOICE_DELETE' | translate }}">
                        <i class="fa fa-trash"></i> {{ 'DELETE' | translate }}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="panel-footer">
        <div class="text-center">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
        <a role="button" ui-sref="app.authenticated.dashboard" class="footer-menu-item">
            <i class="fa fa-home"></i> {{ 'DASHBOARD' | translate }}
        </a>
    </div>

</div>