<div class="panel panel-primary">

    <div class="panel-heading">
        <strong>{{ 'WATER_READINGS' | translate }} - {{ $ctrl.title | translate }}</strong>
    </div>

    <div class="water-reading-form">

        <div ng-form="waterReadingForm" class="form">

            <universal-datepicker dt="$ctrl.waterReading.date"
                                  form-name="waterReadingForm" field-name="date"
                                  field-label="DATE"
                                  on-dt-change="$ctrl.setDate($event)"
                                  required="true">
            </universal-datepicker>

            <div class="form-group" ng-class="{ 'has-error': waterReadingForm.state.$invalid }">
                <label for="state" class="control-label">{{ 'STATE' | translate }}</label>
                <input type="number" class="form-control" id="state" name="state" required
                       ng-pattern="/^\d{1,7}(\.\d{0,2})?$/"
                       placeholder="{{ 'STATE' | translate }}"
                       ng-model="$ctrl.waterReading.state"
                       parse-float>
                <div class="help-block" ng-messages="waterReadingForm.state.$error" ng-messages-multiple>
                    <p ng-message="required">{{ 'REQUIRED_FIELD' | translate}}</p>
                    <p ng-message="pattern">{{ 'READING_PATTERN' | translate}}</p>
                    <p ng-message="number">{{ 'NOT_A_NUMBER' | translate}}</p>
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="$ctrl.waterReading.fixed_usage">
                    {{ 'FIXED_USAGE' | translate }}
                </label>
            </div>

            <div class="form-group" ng-class="{ 'has-error': waterReadingForm.usage.$invalid }"
                 ng-show="$ctrl.edit || $ctrl.waterReading.fixed_usage">
                <label for="usage" class="control-label">{{ 'USAGE' | translate }}</label>
                <input type="number" class="form-control" id="usage" name="usage"
                       ng-required="$ctrl.waterReading.fixed_usage"
                       ng-pattern="/^\d{1,7}(\.\d{0,2})?$/"
                       placeholder="{{ 'USAGE' | translate }}"
                       ng-model="$ctrl.waterReading.usage"
                       parse-float
                       ng-disabled="!$ctrl.waterReading.fixed_usage">
                <div class="help-block" ng-messages="waterReadingForm.usage.$error" ng-messages-multiple>
                    <p ng-message="required">{{ 'REQUIRED_FIELD' | translate}}</p>
                    <p ng-message="pattern">{{ 'READING_PATTERN' | translate}}</p>
                    <p ng-message="number">{{ 'NOT_A_NUMBER' | translate}}</p>
                </div>
            </div>

            <button class="btn btn-primary" ng-click="$ctrl.submit()" ng-disabled="waterReadingForm.$invalid">
                {{ 'SAVE' | translate }}
            </button>

        </div>

    </div>

    <div class="panel-footer">
        <a role="button" ui-sref="app.authenticated.water-readings.list">
            <i class="fa fa-arrow-circle-left"></i> {{ 'BACK' | translate }}
        </a>
    </div>

</div>